html {
  background-color: #353535;
}

#spacer {
  height: 100px;
}

#timer-container {
  width: 255px;
  margin: 0 auto;
}

#test {
  font-family: 'digital-7_monomono';
  font-size: 70px;
  color: #404040;
  position: absolute;
  z-index: -1;
  /* float: right; */
}

.timer-text {
  font-family: 'digital-7_monomono';
  font-size: 70px;
  color: #f03;
  /* position: absolute; */
  z-index: 99;
}

.timer-wrap {
  float: right;
}

#test-area {
  /* overflow: hidden; */
}

.timer-name {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  font-family: 'Anonymous Pro', monospace;
  color: #ddd;
}

