html {
  background-color: #404040;
}

#logo {
  margin-top: 20px;
  width: 100%;
}

#timer-container, #controls {
  width: 255px;
  margin: 0 auto;
}

#test {
  font-family: 'digital-7_monomono';
  font-size: 70px;
  color: #474747;
  position: absolute;
  z-index: -1;
  /* float: right; */
}

.timer-text {
  font-family: 'digital-7_monomono';
  font-size: 70px;
  color: #f03;
  /* position: absolute; */
  z-index: 99;
}

.timer-wrap {
  float: right;
}

#test-area {
  /* overflow: hidden; */
}

.timer-name {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  font-family: 'Anonymous Pro', monospace;
  color: #ddd;
}

#new, #save {
  width: 48%;
}

#submit {
  width: 16%;
}

#timer-name {
  width: 80%;
}

::placeholder {
  color: #ddd;
}





